$primary: #0077B6;
$primary-light: #DBF5FA;
$primary-background: #F8F8F8;
$primary-dark: #010220;

$secondary: #FF7A33;
$secondary-dark: #89471A;

$grey-dark-text: #565555;
$grey-medium-text: #6c6e6e;
$grey-light-text: #999999;
